@charset "utf-8";
/* CSS Document */
.slide_likebox {
float:right;
width:350px;
height:437px;
background: url(../images/fb_bg.png) no-repeat !important;
display:block;
right:-312px;
padding:0;
position:fixed;
top: 130px;
z-index:1002;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
}
div.likeboxwrap {
margin-top:2px;
margin-left:-5px;
width:298px;
height:420px;
background-color:#fff;
overflow:hidden;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
}
div.likeboxwrap iframe {margin:-1px}

